body { 
    background-color: #141414;
    font-family: Inter,ui-sans-serif,system-ui; 
} 

fieldset { 
    background-color: #141414;
    border: none;
    border-radius: 1em;
    margin: 5em;
    text-align: center;
}

#blog {
    margin: 1em;
}

input {
    font-size: 1.5em;
    padding: 1em;
    border: 1px solid lightgray;
    font-size: 14px;
    font-weight: 400;
    margin: 1em;
    border-radius: 0.2em;
    width: 80%;
}

#entry {
    height: 300px;
    overflow-x: wrap;
    overflow-y: none;
}

.button {
    border: none;
    background: linear-gradient(to bottom, #3399ff, #668aff);
    color: white;
    border-radius: 0.5em;
    width: 82%;
}

h1 {
    color: white;
    text-align: center;
    font-size: 2em;
    padding-top: 25px;
}

.flex-container {
    display: flex;
    margin-left: 5em;
    margin-right: 5em;
}

.firstbutton, .secondbutton {
    width: 50%;
    margin-left: 1em;
    margin-right: 1em;
}

.mobile {
    display: none;
}

.computer {
    display: block;
}

nav {
    display: flex;
    padding: 1em;
    font-size: 2em;
    float: right;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    height: 100%;
    color: #ffffffa6;
    font-size: 2em;
}

nav a:hover {
    color: white;
}

 /* container code  */ 
.container {  
    display: grid;
    grid-template-columns: 0.2fr 2.6fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "sm navbar"
        "logo content"
        "blank footer";
}

.footer { 
    grid-area: footer; 
    font-family: "Handlee", cursive;
    font-size: 2em;
    padding: 10px;
}

.logo { 
    grid-area: logo; 
    margin: 10px;
    background: linear-gradient(#ff9999, #3399ff);
}

.logo p {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    padding-bottom: 20px;
    font-family: "Caveat", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
}

.logo img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.navbar { 
    grid-area: navbar; 
    margin: 50px;
}

.sm { 
    grid-area: sm; 
    margin: 10px;
    background: linear-gradient(#ffcc99, #ff99cc);
}

.sm img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.blank { 
    grid-area: blank; 
    margin: 10px;
    background: linear-gradient(#3399ff, #66ffcc);
}

.blank img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.blank p {
    writing-mode: vertical-rl; 
    transform: rotate(180deg);
    text-align: center;
    padding: 10px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}

.content { 
    grid-area: content; 
    margin: 50px; 
}

html, body, .container {
    height: 100%;
    margin: 0;
}

button {
    border: none;
    font-size: 0.5em;
    background-color: transparent;
    font-family: "Aldrich", sans-serif;
}

.icon img, a img {
    width: 38px;
    padding-top: 20px;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    height: 100%;
    color: #ffffffa6;
}

nav a:hover {
    color: white;
}

nav {
    margin: auto;
    display: block;
    flex-direction: row;
    font-size: 0.5em;
    float: right;
}

nav a {
    float: left;
    display: block;
    text-align: left;
}

header, section {
    font-size: 1em;
    text-align: left;
}

p {
    font-size: 0.5em;
    color: #ffffffa6;
    white-space: normal;
}

footer {
    padding-right: 50px;
    position: relative;
    float:right;
    bottom:0;
    right:0;
}